<footer id="rodape">

    <div>

        <ul>
            <li class="infoFooter">
                Sobre Nós
            </li>
    
            <li class="infoFooter">
                Ajuda
            </li>
    
            <li class="infoFooter">
                Contato
            </li>
    
        </ul>  

        <p id="copyRight">
            Copy Right - Projeto Integrador
        </p>


    </div>
    
</footer>