<!--Barra Compartilhada-->
<%- include('./partials/header') %>

        <!--Barra Search         <img src="/images/img1.jpg" width="100%" height="500px">           -->
        <div>
            <img src="/images/jiraya-sensei.svg" width="100%" height="500px">
            <input type="text" id="searching">
            <button id="btnSearching">Curso</button>
        </div>

        

        <!--Container das seções-->
        <div id="sobrePor">

            <!-- Colar aqui -->

            <div class="grid-container">
                <div class="grid-item">
                    <img src="Icon/ingles.png" width="80px" height="70px">
                    Inglês
                </div>
                <div class="grid-item">
                    <img src="Icon/frances.png" width="80px" height="70px">
                    Frances
                </div>
                <div class="grid-item">
                    <img src="Icon/china.png" width="80px" height="70px">
                    Chines
                </div>
                <div class="grid-item">
                    <img src="Icon/pc.png" width="80px" height="70px">
                    Progromação
                </div>
                <div class="grid-item">
                    <img src="Icon/livro.png" width="80px" height="70px">
                    Curso
                </div>
                <div class="grid-item">
                    <img src="Icon/livro.png" width="80px" height="70px">
                    Curso
                </div>
                <div class="grid-item">
                    <img src="Icon/livro.png" width="80px" height="70px">
                    Curso
                </div>
                <div class="grid-item">
                    <img src="Icon/livro.png" width="80px" height="70px">
                    Curso
                </div>
                <div class="grid-item">
                    <img src="Icon/livro.png" width="80px" height="70px">
                    Curso
                </div>
              </div>
           

        </div>


        <br>
        <!--Rodapé-->
        <%- include('./partials/footer') %>

            
    </body>


</html>