<!--Barra Compartilhada-->
<%- include('./partials/header') %>

 <!--Menu Lateral-->


 <div id="menuIntra">

    <button class="menuIntra2">
        Meus Cursos
    </button>

    <br>

    <button class="menuIntra2">
        Meus Cursos
    </button>

    <br>

    <button class="menuIntra2">
        Meus Cursos
    </button>

    <br>

    <button class="menuIntra2">
        Meus Cursos
    </button>

    <br>

    
</div>
<!--Fim Menu-->





 <!--Seção 1-->
 <section class="intraPessoa">
    <section class="sc1">
        <div>
            <img src="Icon/ingles.png" width="80px" height="70px">
            Inglês
        </div>
    </section>

    <section class="sc1">
        <div>
            <img src="Icon/frances.png" width="80px" height="70px">
            Frances
        </div>
    </section>
    <section class="sc1">
        <div>
            <img src="Icon/china.png" width="80px" height="70px">
            Chines
        </div>
    </section>
</section>
<!--Seção 1-->

<!--Seção 1-->
<section class="intraPessoa">
    <section class="sc1">
        <div>
            <img src="Icon/ingles.png" width="80px" height="70px">
            Inglês
        </div>
    </section>

    <section class="sc1">
        <div>
            <img src="Icon/frances.png" width="80px" height="70px">
            Frances
        </div>
    </section>
    <section class="sc1">
        <div>
            <img src="Icon/china.png" width="80px" height="70px">
            Chines
        </div>
    </section>
</section>



</body>

</html>
